@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");
@import "tailwindcss";

/* Hide scrollbars cross-browser */
*::-webkit-scrollbar {
  @apply hidden;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  font-family: Outfit;
}
